@import "bootstrap/scss/bootstrap";

.home h1{
  font-size: 60px;
  padding-top: 20%;
}


.logo image {
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.post-actions{
  margin-bottom: 20px;
  i {
    margin-right: 10px;
    color: #dddddd;
    cursor: pointer;
  }
  i.active{
    color: #555555;
  }

  i:hover{
    color:green;
  }


}